* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #2B283A;
  min-height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar { 
  display: none; 
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 55px;
  background: #F55A5A;
}

.logo {
  margin: 7px;
  width: 24px;
  height: 24px;
  color: white;
}

.header > p {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 18px;
  letter-spacing: -0.075em;
}

.card {
  display: flex;
  justify-content: center;
  margin: 45px auto;
  flex-direction: row;
  height: 168px;
}

.card--image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.card--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-location {
  flex-direction: row;
}

.card--location-icon {
  color: #F55A5A;
  width: 7px;
  height: 10px;
  margin-right: 4px;
}

.card--location {
  font-size: 0.7rem;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
}

.card--map {
  font-size: 0.6rem;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
  margin-left: 12px;
}

.section-title {
  margin-top: 7px;
}

.card--title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.5rem;
}

.card--dates {
  margin-top: 22px;
  font-weight: 700;
  font-size: 0.7rem;
  line-height: 12px;
}

.section-body {
  width: 326px;
}

.card--description {
  margin-top: 9px;
  font-size: 0.7rem;
  line-height: 150%;
}

hr {
  border: 1px solid #F5F5F5;
  width: 480px;
  margin: auto;
}
